
<!-- Drivers -->
<div class="container-fluid" id="driver-view">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 driver-title">
                <h6 id="driver-title-h3">OUR PROFESSIONAL STAFF</h6>
                <h1 id="driver-title-h1">Royal Cars
                    <b>Drivers.</b>
                </h1>
            </div>
        </div>
        <div id="driver-show" class="carousel slide driver-show" data-ride="carousel">
            <ol class="carousel-indicators">
                <!-- calculate the slide numbers to contain drivers -->
                <%                                             
                    slideCount = 1;                                
                    if (drivers.length > 6){
                        for (var i = 6; i < drivers.length; i++){
                            if ( i % 6 === 0){
                                slideCount++;
                            }
                        }                                     
                } %>
                    <li data-target="#driver-show" data-slide-to="0" class="active"></li>
                    <%for (var i = 1; i < slideCount; i++){%>
                        <li data-target="#driver-show" data-slide-to="<%=i%>"></li>
                        <%};%>
            </ol>
            <div class="carousel-inner">
                <!-- check the slide numbers for approriate carousel designing -->
                <%if (slideCount === 1) {%>
                    <!-- slide numbers = 1 <=> only 1 active slide -->
                    <div class="carousel-item active">
                        <%while (driverIndex < 6) {
                            if (driverIndex % 3 === 0) { %>
                            <div class="row justify-content-around driver-info-row">
                                <%for (var i = 0; i < 3; i++) {%>
                                    <div class="col-lg-3 driver-info">
                                        <div class="row">
                                            <div class="col-lg-5">
                                                <h4>
                                                    <%=drivers[driverIndex].fname%>
                                                </h4>
                                                <h4>
                                                    <%=drivers[driverIndex].lname%>
                                                </h4>
                                                <h6 class="driver-experience">
                                                    <%=drivers[driverIndex].experience%> Years Experience</h6>
                                                <div class="driver-social-link">
                                                    <a href="<%=drivers[driverIndex].linkFacebook%>">
                                                        <img src="https://cdn3.iconfinder.com/data/icons/picons-social/57/06-facebook-512.png" />
                                                    </a>
                                                    <a href="<%=drivers[driverIndex].linkTwitter%>">
                                                        <img src="https://image.flaticon.com/icons/png/512/8/8800.png" />
                                                    </a>
                                                    <a href="<%=drivers[driverIndex].linkInstagram%>">
                                                        <img src="https://image.flaticon.com/icons/svg/61/61164.svg" />
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <img class="driver-image" src="<%=drivers[driverIndex].image%>" />
                                            </div>
                                        </div>
                                    </div>
                                    <%driverIndex++;};%>
                            </div>
                            <%}}%>
                    </div>
                    <%}else {%>
                        <!-- slide numbers > 1, first slide is of index 0 - 5, from second is index 6 start -->
                        <div class="carousel-item active">
                            <%while (driverIndex < 6) {
                                if (driverIndex % 3 === 0) { %>
                                <div class="row justify-content-around driver-info-row">
                                    <%for (var i = 0; i < 3; i++) {%>
                                        <div class="col-lg-3 driver-info">
                                            <div class="row">
                                                <div class="col-lg-4 driver-info-info">
                                                    <h4>
                                                        <%=drivers[driverIndex].fname%>
                                                    </h4>
                                                    <h4>
                                                        <%=drivers[driverIndex].lname%>
                                                    </h4>
                                                    <h6 class="driver-experience">
                                                        <%=drivers[driverIndex].experience%> Years Experience</h6>
                                                    <div class="driver-social-link">
                                                        <a href="<%=drivers[driverIndex].linkFacebook%>">
                                                            <img src="https://cdn3.iconfinder.com/data/icons/picons-social/57/06-facebook-512.png" />
                                                        </a>
                                                        <a href="<%=drivers[driverIndex].linkTwitter%>">
                                                            <img src="https://image.flaticon.com/icons/png/512/8/8800.png" />
                                                        </a>
                                                        <a href="<%=drivers[driverIndex].linkInstagram%>">
                                                            <img src="https://image.flaticon.com/icons/svg/61/61164.svg" />
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 driver-info-img">
                                                    <img class="driver-image" src="<%=drivers[driverIndex].image%>" />
                                                </div>
                                            </div>
                                        </div>
                                        <%driverIndex++;};%>
                                </div>
                                <%}}%>
                        </div>
                        <%for (var i = 1; i < slideCount; i++) {%>
                            <div class="carousel-item">
                                <%while (driverIndex < drivers.length){
                                    if (driverIndex % 3 === 0) {%>
                                    <div class="row justify-content-around driver-info-row">
                                        <%for (var k = 0; k < 3; k++) {%>
                                            <div class="col-lg-3 driver-info">
                                                <div class="row">
                                                    <div class="col-lg-4 driver-info-info">
                                                        <h4>
                                                            <%=drivers[driverIndex].fname%>
                                                        </h4>
                                                        <h4>
                                                            <%=drivers[driverIndex].lname%>
                                                        </h4>
                                                        <h6 class="driver-experience">
                                                            <%=drivers[driverIndex].experience%> Years Experience</h6>
                                                        <div class="driver-social-link">
                                                            <a href="<%=drivers[driverIndex].linkFacebook%>">
                                                                <img src="https://cdn3.iconfinder.com/data/icons/picons-social/57/06-facebook-512.png" />
                                                            </a>
                                                            <a href="<%=drivers[driverIndex].linkTwitter%>">
                                                                <img src="https://image.flaticon.com/icons/png/512/8/8800.png" />
                                                            </a>
                                                            <a href="<%=drivers[driverIndex].linkInstagram%>">
                                                                <img src="https://image.flaticon.com/icons/svg/61/61164.svg" />
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 driver-info-img">
                                                        <img class="driver-image" src="<%=drivers[driverIndex].image%>" />
                                                    </div>
                                                </div>
                                            </div>
                                            <%driverIndex++;
                                            if (driverIndex === drivers.length){
                                                break;
                                            }
                                        };%>
                                    </div>
                                    <%}}%>
                            </div>
                            <%}}%>
            </div>
        </div>
    </div>
</div>