<div class="container-fluid contactus-display-cf">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 contactus-title">
                <h6>OUR OFFICE</h6>
                <h2>Contact
                    <b>Royal Cars </b>for</h2>
                <h2>More Information.</h2>
            </div>
        </div>
        <div class="row justify-content-between contactus-info">
            <div class="col-lg-5 contactus-cols">
                <h4>Main Office</h4>
                <img class="contactus-image" src="<%=contacts[0].image%>" />
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row contactus-inforows">
                            <div class="col-lg-2 contactus-icons">
                                <img src="http://icon-park.com/imagefiles/location_map_pin_yellow5.png" />
                            </div>
                            <div class="col-lg-10 contactus-contents"><%=contacts[0].address%></div>
                        </div>
                        <div class="row contactus-inforows">
                            <div class="col-lg-2 contactus-icons">
                                <img src="https://cdn0.iconfinder.com/data/icons/flat-color-1/100/sqi2016-flat-go-41-512.png" />
                            </div>
                            <div class="col-lg-10 contactus-contents"><%=contacts[0].phone%></div>
                        </div>
                        <div class="row contactus-inforows">
                            <div class="col-lg-2 contactus-icons">
                                <img src="http://cdn.mysitemyway.com/icons-watermarks/flat-circle-white-on-yellow/broccolidry/broccolidry_email/broccolidry_email_flat-circle-white-on-yellow_512x512.png" />
                            </div>
                            <div class="col-lg-10 contactus-contents"><%=contacts[0].email%></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <h4>Other Office</h4>
                <img class="contactus-image" src="<%=contacts[1].image%>" />
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row contactus-inforows">
                            <div class="col-lg-2 contactus-icons">
                                <img src="http://icon-park.com/imagefiles/location_map_pin_yellow5.png" />
                            </div>
                            <div class="col-lg-10 contactus-contents"><%=contacts[1].address%></div>
                        </div>

                        <div class="row contactus-inforows">
                            <div class="col-lg-2 contactus-icons">
                                <img src="https://cdn0.iconfinder.com/data/icons/flat-color-1/100/sqi2016-flat-go-41-512.png" />
                            </div>
                            <div class="col-lg-10 contactus-contents"><%=contacts[1].phone%></div>
                        </div>
                        <div class="row contactus-inforows">
                            <div class="col-lg-2 contactus-icons">
                                <img src="http://cdn.mysitemyway.com/icons-watermarks/flat-circle-white-on-yellow/broccolidry/broccolidry_email/broccolidry_email_flat-circle-white-on-yellow_512x512.png" />
                            </div>
                            <div class="col-lg-10 contactus-contents"><%=contacts[1].email%></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>